/* *************************************************************
                    CSS for HTML Elements
************************************************************* */

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

.centered{
  margin: auto;
  width: 50%;
}

body{
  margin: 0;
  padding: 0;
  background-image: url("../img/bg.png");
<<<<<<< HEAD
  background-attachment: fixed;
=======
<<<<<<< HEAD
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
=======
  background-attachment: fixed;
>>>>>>> 397de5cc73ef92c07b84ae9de940f26fda213ab4
>>>>>>> 99fa607b2eb8fee8ff34c823c392b6f17970221c
}

h1 {
  padding-left:1%;
  font-size: 22px;
  margin: 0;
}

a {
  padding-left: 10%;
  font-weight: normal;
  font-size: 22px;
  color: #f5f5f5;
}

button:hover, #btnSignUp:hover{
  background-color:#33bf85;
}

button:active, #btnSignUp:active {
  background-color: #008c52;
  transform: translateY(2px);
}

label{
  font-weight: bold;
}

input, select{
  text-indent: 10px;
  font-size: 15px;
  height: 34px;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 100%;
  background: white;
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 50px;
  width:100%;
  background: #00AF66;
  color: #f5f5f5;
}

.header table{
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #007A5A;
  color: #f5f5f5;
  text-align: center;
}

#copyright {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

.post, .createPost {
  overflow:hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background: #f5f5f5;
  margin:auto;
  width:50%;
  padding: 10px;
  border-radius: 10px;
}
#newPost{

}
#sendPost{
  margin-left: auto;
  margin-right: 0;
  float: right;
  border-radius: 10px;
  width: 20%;
}

.profile_picture{
  padding: 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.spacer {
  padding: 15px;
}

hr {
  padding-bottom: 15px;
  width: 0%;
  min-width: 20%;
  max-width: 100%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #665;
  position: relative;
  transition: box-shadow 200ms ease-in-out;
  box-shadow: 0px 0px 0px 0px #f9f9f9;
}

#aboutUs {
  background: #f5f5f5;
  margin:auto;
  width:80%;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

#aboutUs img{
display: block;
margin-left: auto;
margin-right: auto;
width: 15%;
padding-top: 2.5%;
}

#aboutUs p{
padding-left: 10%;
padding-right: 10%;
padding-top: 2.5%;
padding-bottom: 2.5%;
text-align: justify;
}

#login {
  background: #f5f5f5;
  margin:auto;
  max-width: 600px;
  width:50%;
  padding: 10px;
}

#login img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

#signUp {
  max-width: 600px;
  background-color: #f2f2f2;
  margin:auto;
  width:50%;
  padding: 10px;
}

#signUp img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

button, #btnSignUp{
  height:40px;
  width: 100%;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  color:#FFFFFF;
  background-color:#00af66;
  text-align:center;
  transition: all 0.2s;
}

#addComment{
  display: flex;
  align-items: center;
  height: 50px;
  width:100%;
}
#newComment{
  width:90%;
  height:50px;
  font-size: 18px;
}
#postComment{
  width:10%;
  height:50px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
}
